/*  your css code here. If applicable */
#yellow{
	background:yellow;
	Border-width:1px;
	border-color:green;
	border-style:solid;
	
}
#red{
	background:red;
	Border-width:1px;
	border-color:black;
	border-style:solid;
}
#green{
	background:green;
	Border-width:1px;
	border-color:yellow;
	border-style:solid;
}
